@import "tailwindcss";

@theme {
  --color-purple-primary: #4d0447;
  --color-purple-secondary: #f8e4f5;
}

/* Custom styles */
body {
  color: #333;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}
