@import "tailwindcss";

@theme {
  --color-purple-primary: #4d0447;
  --color-purple-secondary: #f8e4f5;
}

/* Custom styles */
body {
  color: #333;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

@theme inline {
  --animate-fade-in: fade-in 0.5s linear forwards;
  --animate-spin-slow: spin 4s linear infinite;
  --animate-spin-slower: spin 6s linear infinite;
  --animate-spin-reverse: spin-reverse 1s linear infinite;
  --animate-spin-reverse-slow: spin-reverse 4s linear infinite;
  --animate-spin-reverse-slower: spin-reverse 6s linear infinite;

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes spin-reverse {
    to {
      transform: rotate(-360deg);
    }
  }

  --animate-marquee: marquee var(--marquee-duration) linear infinite;

  @keyframes marquee {
    100% {
      transform: translateY(-50%);
    }
  }
}
